{% extends 'base.html' %}

{% block title %}{{ movie.title }} - Details{% endblock %}

{% block body %}
<h1>{{ movie.title }}</h1>

<p>
  {{ movie.overview }}
</p>

<img src="{{ movie.poster_path }}">

<form action="/movie/{{ movie.movie_id }}/ratings" method="POST">

  <label for="rating">Please rate this movie:</label> 

  <select name="rating" id="rating">
    <option value=5>5</option>
    <option value=4>4</option>
    <option value=3>3</option>
    <option value=2>2</option>
    <option value=1>1</option>
    <option value=0>0</option>
  </select>

  <input type="submit">

</form>

<form action="/movie/{{ movie.movie_id }}/update_rating" method="POST">

  <label for="update_rating">Update Your Rating:</label> 

  <select name="update_rating" id="update_rating">
    <option value=5>5</option>
    <option value=4>4</option>
    <option value=3>3</option>
    <option value=2>2</option>
    <option value=1>1</option>
    <option value=0>0</option>
  </select>

  <input type="submit">

</form>

{% endblock %}